.team {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  &__card {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__meta {
    padding: 30px 0;
  }

  &__name,
  &__role {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__role {
    color: var(--sec-text-color);
    margin-bottom: 16px;
  }
}
